.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 30%;
  height: 60%;
  padding: 15% 35% 25% 35%;
  color: #000000;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  text-shadow: #333 0 1px 0; }

  body{
    background: white;
  }

.red-box {
  text-align: center;
  width: 80px;
  margin: 20px;
  height: 80px;
  color: #ffffff; }

  .center{
    position: relative;
    margin:auto;
    padding: auto;
    text-align: center;
  }

  .imagene{
    width: 100px;
    height: 100px;
    position: relative;
    margin: auto;
  }

  .logo1{
    margin-top: 0;
    margin-left: 0;
    position: fixed;
    width: 50px;
    height: 50px;
  }

  .logo2{
    margin-top: 0;
    margin-left: 70%;
    position: fixed;
    width: 50px;
    height: 50px;
  }

.green-box {
  width: 80px;
  height: 80px;
  margin: 20px;
  display: block;
  color: #ffffff; }

.blue-box {
  width: 80px;
  height: 80px;
  margin: 20px;
  display: block;
  color: #ffffff; }

.large {
  font-size: 125%;
}

.emphasize {
  color: #666;  
  font-style: italic;
}

fieldset {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }

label {
  display: inline-block;
  min-width: 100px; }

input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
  margin: 8px;
  padding: 6px 12px;
  outline: none;
  border: 1px solid #666;
  border-radius: 4px;
  box-shadow: inset 0 0 3px 3px #fafafa; }

input[type="submit"] {
  font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
  font-size: 16px;
  padding: 4px 8px;
  background-color: #fcfcfc;
  box-shadow: 0 0 1px 0 #aaa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  input[type="submit"]:hover {
    background-color: #f4f4f4;
    box-shadow: 0 0 1px 0 #ccc; }

html {
  min-height: 100%;
  background-color: #0769ad;
  box-shadow: 0 0 8px 4px #06599d inset; }

body {
  font-size: 16px;
  font-family: "Trebuchet MS", Verdana, Arial, sans-serif; }

.clear {
  clear: both; }

#content {
  overflow: auto;
  width: 80%;
  background-color: #fff;
  margin: 30px auto 0 auto;
  padding: 20px 30px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px; }

h1 {
  color: #000;
text-align: center; }

h2 {
  border-bottom: 1px solid #aaa;
overflow: hidden; }

#dashboard {
  position: absolute;
  width: 120px;
  height: 60%;
  left: -140px;
  top: 100px;
  padding: 20px;
  border-radius: 0 6px 6px 0;
  box-shadow: 0 0 3px 3px #f0f0f0;
  background-color: #999; }

.fancy-link {
  display: inline-block;
  text-decoration: none;
  color: #111199; }

.fancy-link:after {
  display: block;
  content: '';
  border-bottom: solid 1px #22a;
  transform: scaleX(0.0001);
  transition: transform 250ms ease-in-out; }

.fancy-link:hover:after {
  transform: scaleX(1); }

/*# sourceMappingURL=style.css.map */
